.body{
    box-sizing: border-box;
}
.div{
    width:300px;
    padding:40px;
    margin:30px auto;
    background-color: white;
    border: 2px solid rgb(173, 164, 164);
    border-radius:14px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.p{
    color:grey;
    text-align: center;
}
.img{
    width:100%;
}
.input{
    width:100%;
    padding:12px;
    text-align: center;
    margin:20px 0 15px 0;
    border: 1px solid grey;
    border-radius: 7px;
    box-sizing: border-box;
}
.cbutton{
    width:100%;
    padding:12px;
    border: none;
    border-radius: 7px;
    background: #a622e4;
    color:white;
}
